<% if (page.prev) { %>
    <p>
        <a href="<%= url_for(page.prev.path) %>" rel="next" title="<%= page.prev.title %>">
            <%= __('prev', page.prev.title) %>
        </a>
    </p>
<% } %>

<% if (page.next) { %>
    <p>
        <a href="<%= url_for(page.next.path) %>" rel="next" title="<%= page.next.title %>">
            <%= __('next', page.next.title) %>
        </a>
    </p>
<% } %>
