<a href="<%- url_for(url) %>" title="<%- title %> Cheatsheet">
    <div class="card <%- background %>" <% if (label) { %> data-label="<%- label %>" <% }%> >
        <%- icon(slug) %>
        <p><%- title %></p>
    </div>
</a>
