<!DOCTYPE HTML>
<html class="<%= is_post() ? 'scrollbar' : '' %>" translate="no">
<%- partial('_partial/head') %>
<body class="bg-slate-100 dark:bg-slate-900">
<%- partial('_partial/header') %>
<%- body %>
<%- partial('_partial/search') %>
<%- partial('_partial/footer') %>
<div id="carbon_container"></div>
</body>
<%- partial('_partial/scripts') %>
</html>
